/*----graph-----*/
.node circle {
  fill: #fff;
  stroke-width: 3px;
}

.node text {
  font:12px sans-serif;
}

.link {
  fill: none;
  stroke:#ccc;
  stroke-width: 2px;
}

/*----nav-----*/
.nav-wrapper {
  background-color: darkseagreen;
}

.nav-text {
  color: darkslategray;
}

.btn {
  background-color: skyblue;
  margin-left: 15px;
}

.btn:hover {
  background-color: paleturquoise;
}

.brand-logo {
  margin-left: 10px;
}

/*---------main----------*/
main {
  display: flex;
  flex-flow: row wrap;
}

.graph {
  flex: 2;
  margin: 2%;
  margin-left: 10%;
}

.graph h3 {
  width: 100%;
}

.updates {
  flex: 1;
  margin: 10% 10% 5% 2%;
}

.updatesBox {
  border: 2px solid darkslategray;
  padding: 2%;
}


svg {
  box-shadow: 20px 1px 20px darkslategray;
}

.otherDAGS {
  width: 100%;
  padding: 4%;

}

.otherLinks a {
  margin: 3%;
}


/*---------start----------*/

.start {
  display: inline;
  margin: 10px;
}

/*---------footer----------*/

div.footer-copyright {
  background-color: darkseagreen !important;
}

footer.page-footer {
  background-color: skyblue !important;
}
