<main>
  </div>
  <section class="graph">
    <h3>Syntactic XML Compression of DataSet C</h3>
    <div class="forSVG"></div>
  </section>
  <aside class="updates">
    <h3>DAG Status updates</h3>
    <div class="updatesBox" >
      <h5>Nodes 2, 4, and 5 are in progress</h5>
      <h5>Nodes 1 and 3 are queue</h5>
      <h5 ng-show="show" >Node 3 Error at 15% complete. Error message: wrong data type. No more nodes will start.</h5>
    </div>
  </aside>
  <section class="otherDAGS">
    <h3>Other Running Dags:</h3>
    <div class="otherLinks">
      <a href="#/home/1">Syntactic XML Compression of DataSet B</a>
      <a href="#/home/1">Syntactic XML Compression of DataSet D</a>
    </div>
  </section>
</main>
